*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pageContaineer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
}

.playerContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #7591FF;
    text-align: center;
    padding: 50px;
    margin:50px;
    border-radius: 50px;
    gap: 2px;
}

.gameControl{
    padding: 40px;
    border-radius:15px; 
    background-color:rgb(0, 0, 0) 86%;
    font-size: 24px;
    text-align: center;
    color: white;
    height: 571px;
}

body {
background: linear-gradient(90deg, rgba(168,75,255,1) 23%, rgba(9,223,176,1) 62%, rgba(0,255,234,1) 91%);
background-repeat:no-repeat ;
background-attachment: fixed;
display: flex;
float: left;
}

img{
    width: 100px;
}

.gameBoard {
display: flex;
flex-wrap: wrap;
margin-left: 100%;
padding-bottom: 150px;
height: 600px;
width: 600px;
margin: auto;
gap: 5px;
perspective: 1000px;
}

.card {
    width:calc(25% - 10px);
    height:calc(33.333% - 10px);
    position: relative;
    transform: scale(1); 
    transform-style:preserve-3d ;
    transition: transform .5s;
}

.card:active{
    transform: scale(.97);
    transition: transform .3s;
}

.card.flip{
transform: rotateY(180deg);
}

.backFace,
.frontFace {
position: absolute;
padding: 20px;
height:100%;
width:100%;
backface-visibility: hidden;
border-radius: 5px;
background-color: #4A54E6;
}

.frontFace{
    transform: rotateY(180deg);
}

.button{ 
    font-size:30px;
    font-family:'Times New Roman';
    padding: 20px;
    border-radius: 20px 0;
    margin-top: 20px;
    border-width:100px;
    color:rgba(255, 255, 255, 1);
    border-color:rgba(7, 4, 0, 1);
    font-weight:bold;
    text-decoration:none;
    box-shadow: 0px 1px 0px 0px rgba(230, 207, 29, 1);
    text-shadow: 0px 1px 0px rgba(245, 245, 245, 1);
    background:linear-gradient(rgba(189, 16, 224, 1), rgba(206, 162, 86, 1));
}

.button:hover{
    background: #b34332
}